/build/
/build[.-]*/
/out
/cmake/
/cmake[.-]*/
/coverage/
/.vs/
/.vscode/
/fuzz/luau.pb.*
/crash-*
/default.prof*
/fuzz-*
/luau
/luau-tests
/luau-analyze
/luau-compile
__pycache__
.cache
.clangd
*.obj
*.tlog
/CMakeFiles/3.31.0-rc1/CompilerIdCXX
/CMakeFiles/3.31.0-rc1/VCTargetsPath/x64
/Luau.Analysis.dir/MinSizeRel
/Luau.Analyze.CLI.dir/MinSizeRel
/Luau.Ast.CLI.dir/MinSizeRel
/Luau.Ast.dir/MinSizeRel
/Luau.Bytecode.CLI.dir/MinSizeRel
/Luau.CLI.lib.dir/MinSizeRel
/Luau.CLI.Test.dir/MinSizeRel
/Luau.CodeGen.dir/MinSizeRel
/Luau.Compile.CLI.dir/MinSizeRel
/Luau.Compiler.dir/MinSizeRel
/Luau.Config.dir/MinSizeRel
/Luau.Conformance.dir/MinSizeRel
/Luau.EqSat.dir/MinSizeRel
/Luau.VM.dir/MinSizeRel
/Luau.UnitTest.dir/MinSizeRel
/MinSizeRel
/x64/MinSizeRel
/Luau.Repl.CLI.dir/MinSizeRel
/Luau.Reduce.CLI.dir/MinSizeRel
/isocline.dir/MinSizeRel
/CMakeFiles
*.vcxproj
*.filters
*.user
/fuzz/CMakeFiles
*.sln
